/* header */
#uw-header {
  background: #000;
  padding: 20px 10px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#uw-logo {
  display: block;
  width: 207px;
  height: 60px;
  text-indent: -999em;
  overflow: hidden;
  background: url('../images/university-of-waterloo-logo.png') no-repeat left top;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
  #uw-logo {
    background: url('../images/university-of-waterloo-logo-2x.png') no-repeat left top;
    background-size: 207px 51px;
  }
}
#uw-header a {
  color: #fff;
  text-decoration: none;
}
#uw-header a:hover {
  text-decoration: underline;
}
#uw-header .global-menu {
  list-style: none;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin: 0;
  padding: 0;
}
#uw-header .global-menu li {
  float: left;
  padding: 2px 10px;
  border-left: solid 1px #fff;
  margin: 0;
}
#uw-header .global-menu li:first-child {
  border-left: none;
}
